/www/node_modules
/www/public/hot
/www/public/storage
/www/storage/*.key
/www/vendor
/www/.env
/www/.env.backup
/www/.phpunit.result.cache
docker-compose.override.yml
/www/Homestead.json
/www/Homestead.yaml
/www/npm-debug.log
/www/yarn-error.log
/.idea
/.vscode
/postgres-data
/.secrets
/stories-fans-353d6aa78c63.json
/www/.env.prod
/www/supervisord.log
/www/supervisord.pid